@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: 'Orbitron', sans-serif;
}
.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}
.App p{
  text-align: center;
}
.App h1 h3{
  padding: 20px;
}
ul p{
  padding: 20px;
  
}
ul li{
  margin-bottom: 10px;
}
.fruta{
  width: 50%;
  border-radius: 50px;
}